
        <div class="col-md-12 mr-auto ml-auto">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card card-wizard" data-color="primary" id="wizardProfile">
                  <form action="" method="">
                    <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                    <div class="card-header text-center">
                      <h3 class="card-title">
                        Мастер первоначальной настройки
                      </h3>
                      <h5 class="description">Заполнение этой основной информации позволит Вам быстро настроить и запусть в работу наш продукт.</h5>
                      <div class="wizard-navigation">
                          <ul class="nav nav-pills">
                              <li class="nav-item" style="width: 33.3333%;">
                                <a class="nav-link active" href="#loginform" data-toggle="tab" role="tab" aria-controls="loginform" aria-selected="true">
                                  <i class="nc-icon icon-user"></i> Вход
                                </a>
                              </li>
                              <li class="nav-item" style="width: 33.3333%;">
                                <a class="nav-link" href="#networkform" data-toggle="tab" role="tab" aria-controls="networkform" aria-selected="true">
                                  <i class="nc-icon icon-globe"></i> Сеть
                                </a>
                              </li>
                              <li class="nav-item" style="width: 33.3333%;">
                                <a class="nav-link" href="#settingsform" data-toggle="tab" role="tab" aria-controls="settingsform" aria-selected="true">
                                  <i class="nc-icon icon-settings"></i> Настройки
                                </a>
                              </li>
                              <li class="nav-item" style="width: 33.3333%;">
                                  <a class="nav-link" href="#calibrationform" data-toggle="tab" role="tab" aria-controls="calibrationform" aria-selected="true">
                                    <i class="nc-icon icon-sensor"></i> Калибровка
                                  </a>
                                </li>
                            </ul>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane show active" id="loginform">
                          <h5 class="info-text">Необходимо задать логин и пароль для входа в панель <br>(его можно будет изменить позже)</h5>
                          <div class="row justify-content-center">
                              <div class="col-lg-5 mt-3">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon sm icon-user "></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Логин" id="login">
                              </div>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon sm icon-key"></i></span>
                                </div>
                                <input type="password" placeholder="Пароль" class="form-control" id="password" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="networkform">
                            <h5 class="info-text">Рекомендуем Вам подключиться к сети Wi-Fi. Если Вы не хотите этого делать или у Вас нет Wi-Fi маршрутизатора, нажмите "Далее"</h5>
                            <div class="row justify-content-center">
                              <div class="col-lg-4 mt-3">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon sm icon-wifi"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Имя точки доступа" id="ssidname">
                                </div>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon sm icon-key"></i></span>
                                  </div>
                                  <input type="password" placeholder="Пароль точки доступа" class="form-control" id="ssidpassword" />
                                </div>
                              </div>
                              <div class="col-lg-6 mt-3">
                                  <table class="table table-sm text-center">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">Имя (SSID)</th>
                                        <th scope="col">Канал</th>
                                        <th scope="col">Защита</th>
                                        <th scope="col">Сигнал</th>
                                      </tr>
                                    </thead>
                                    <tbody id="networks">
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settingsform">
                          <h5 class="info-text">Пожалуйста, установите основные настройки системы.</h5>
                          <div class="row justify-content-center">
                              <div class="col-lg-5 mt-3">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Время:</span>
                                  </div>
                                  <input type="text" class="form-control text-center" placeholder="Текущее время" id="dtPicker" value="">
                                </div>
                                <div class="input-group">
                                    <div class="form-check" title="Если Вы подключили устройство к сети Интернет, отметьте, чтобы получать данные о времени автоматически.">
                                        <label class="form-check-label">
                                          <input class="form-check-input"  id="ntpenabled" name="ntpenabled" type="checkbox">
                                          <span class="form-check-sign v-center" ></span>
                                          Использовать NTP-сервер
                                        </label>
                                      </div>
                                </div>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Часовой пояс:</span>
                                  </div>
                                  <select class="form-control text-center" style="text-align-last:center;" id="tz" name="tz">
                                      <option value="-120">UTC -12:00</option>
                                      <option value="-110">UTC -11:00</option>
                                      <option value="-100">UTC -10:00</option>
                                      <option value="-90">UTC -09:00</option>
                                      <option value="-80">UTC -08:00</option>
                                      <option value="-70">UTC -07:00</option>
                                      <option value="-60">UTC -06:00</option>
                                      <option value="-50">UTC -05:00</option>
                                      <option value="-40">UTC -04:00</option>
                                      <option value="-35">UTC -03:30</option>
                                      <option value="-30">UTC -03:00</option>
                                      <option value="-20">UTC -02:00</option>
                                      <option value="-10">UTC -01:00</option>
                                      <option value="0">UTC +00:00</option>
                                      <option value="10">UTC +01:00</option>
                                      <option value="20">UTC +02:00</option>
                                      <option value="30">UTC +03:00</option>
                                      <option value="35">UTC +03:30</option>
                                      <option value="40">UTC +04:00</option>
                                      <option value="45">UTC +04:30</option>
                                      <option value="50">UTC +05:00</option>
                                      <option value="55">UTC +05:30</option>
                                      <option value="57">UTC +05:45</option>
                                      <option value="60">UTC +06:00</option>
                                      <option value="65">UTC +06:30</option>
                                      <option value="70">UTC +07:00</option>
                                      <option value="80">UTC +08:00</option>
                                      <option value="90">UTC +09:00</option>
                                      <option value="95">UTC +09:30</option>
                                      <option value="100">UTC +10:00</option>
                                      <option value="110">UTC +11:00</option>
                                      <option value="120">UTC +12:00</option>
                                      <option value="120">UTC +12:00</option>
                                      <option value="130">UTC +13:00</option>
                                    </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="tab-pane" id="calibrationform">
                            <h5 class="info-text" style="font-size: 20px;">На этом шаге Вам необходимо откалибровать датчики по двум точкам, 
                              сопостовляя реальные значения калибровочного раствора ("Эталон") и значения на входе ("АЦП"). Перед завершением, убедитесь, что состояние калибровки имеет зеленый цвет.</h5>
                            <div class="row justify-content-center">
                              <div class="col-lg-4 mt-3">
                                  <div class="custom-select-form">
                                    <select id="sersorType" title="Выберите датчик">
                                      <option selected value="0">PH</option>
                                      <option value="1">EC</option>
                                    </select>
                                  </div>
                                <input data-prefix="Эталон:" class="card-spinner-form" id="sensorValue" value="1.05" data-decimals="2" min="0" max="10" step="0.1" type="number" />
                                <input type="button" class="btn btn-fill btn-info btn-round" id="sensorCalibration" style= "height: 46px; width: 100%; line-height: 1.25em; margin-bottom: 0;" value="Сохранить"/>
                                <input type="button" class="btn btn-fill btn-round" id="clearCalibration" style= "height: 46px; width: 100%; line-height: 1.25em;" value="Сбросить"/>
                              </div>
                              <div class="col-lg-6 mt-3">
                                <div class="row mb-5" style="margin: 0 !important;">
                                  <div class="inline"><h6 class="inline">Калибровка:</h6></div>
                                  <div class="inline pull-right"><i id="calibrationState1" class="nc-icon icon-status text-danger"></i><h6 class="pump inline">PH</h6></div>
                                  <div class="inline pull-right"><i id="calibrationState2" class="nc-icon icon-status text-danger"></i><h6 class="pump inline">EC</h6></div>
                                </div>
                                <br>
                                <div class="row" style="margin: 0 !important;">
                                  <div class="inline"><h6 class="inline">PH<sub>АЦП</sub>:</h6></div>
                                  <div class="inline pull-right"><span id="ph_acp">...</span></div>
                                </div>
                                <div class="row" style="margin: 0 0 -5px 0 !important">
                                  <div class="inline"><h6 class="inline">EC<sub>АЦП</sub>:</h6></div>
                                  <div class="inline pull-right"><span id="ec_acp">...</span></div>
                                </div>
                                <br>
                                <div calss="row" style="margin: 0 !important;">
                                  <table class="table table-bordered table-responsive-md table-sm text-center">
                                    <tr>
                                      <th class="text-center">Параметр</th>
                                      <th class="text-center" colspan="2">PH</th>
                                      <th class="text-center" colspan="2">EC</th>
                                    </tr>
                                    <tr>
                                      <td class="pt-3-half" contenteditable="false" style="width: 10%;">АЦП</td>
                                      <td class="pt-3-half" id="ph_acp_1" data-placement="left"></td>
                                      <td class="pt-3-half" id="ph_acp_2" data-placement="right"></td>
                                      <td class="pt-3-half" id="ec_acp_1" data-placement="left"></td>
                                      <td class="pt-3-half" id="ec_acp_2" data-placement="right"></td>
                                    </tr>
                                    <tr>
                                      <td class="pt-3-half" contenteditable="false">Эталон</td>
                                      <td class="pt-3-half" id="ph_calib_1" data-placement="left"></td>
                                      <td class="pt-3-half" id="ph_calib_2" data-placement="right"></td>
                                      <td class="pt-3-half" id="ec_calib_1" data-placement="left"></td>
                                      <td class="pt-3-half" id="ec_calib_2" data-placement="right"></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="pull-right">
                        <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Далее' />
                        <input type='button' id="finishWizard" class='btn btn-finish btn-fill btn-rose btn-success btn-wd' name='finish' value='Завершить' />
                      </div>
                      <div class="pull-left">
                        <input type='button' class='btn btn-previous btn-fill btn-rose btn-wd' name='previous' value='Назад' />
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </form>
                </div>
              </div>
            <!-- wizard container -->
        </div>    

  <!--   Core JS Files   -->
  <!-- @if NODE_ENV='development' -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="js/plugins/bootstrap-spinner.js"></script>

  <script src="js/plugins/moment.min.js"></script>
  <script src="js/plugins/moment.ru.js" defer></script>
  <script src="js/plugins/bootstrap-datetimepicker.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="js/plugins/jquery.validate.min.js"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="js/plugins/jquery.bootstrap-wizard.js"></script>
  <script src="js/plugins/jquery.mobile.custom.js"></script>

  <script src="js/plugins/bootstrap-notify.js"></script>
  <script src="js/paper-dashboard.js"></script>
  <script src="js/pages/master.js"></script>
  <script src="js/arduino.js"></script>
  <script src="js/main.js"></script>
  <!-- @endif -->

  <!-- @if NODE_ENV='production' -->
  <script src="scripts.js"></script>
  <script src="master.js"></script>
  <!-- @endif -->

  <script>
    $(document).ready(function() {
      // Initialise the wizard
      wizard.initWizard();
      setTimeout(function() {
        $('.card.card-wizard').addClass('active');
      }, 600);
    });
  </script>

</body>

</html>