          <div class="row">
              <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="card ">
                  <div class="card-header ">
                    <h5 class="card-title">Ручное управление насосами</h5>
                  </div>
                  <div class="card-body ">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                              <div class="custom-select-form">
                                <select id="pumpId" title="Выберите насос">
                                  <option selected value="0">PH up</option>
                                  <option value="1">PH down</option>
                                  <option value="2">Компонент А</option>
                                  <option value="3">Компонент B</option>
                                  <option value="4">Компонент C</option>
                                </select>
                              </div>
                          </div> 
                      </div> 
                    <div class="row">       
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <input type="number" style="border:0;" class="card-spinner-form" data-prefix="Время (сек):" id="pumpTime" value="10" data-decimals="0" min="0" max="600" step="5"></input>
                      </div>
                    </div> 
                    <div class="row">   
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-success btn-round" id="startPump" style= "width: 100%; height:46px; line-height: 1.25em;">Запуск</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">
                    <strong>Внимание!</strong> Запуск насоса в ручном режиме останавливает его текущую работу на указанное время!
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-md-12 col-sm-12">
                  <div class="card ">
                    <div class="card-header ">
                      <h5 class="card-title">Автоматическая работа</h5>
                      <p class="card-category"><i>Пропорции времени настраиваются с помощью слайдера.</i></p>
                    </div>
                    <div class="card-body"  style="padding-top:0px;">
                      <div class="row">
                        <div class="col-6 col-lg-5 col-md-4 col-sm-4 v-center">
                            <h6 class="inline" > Компонент A: </h6>
                        </div>
                        <div class="col-6 col-lg-7 col-md-8 col-sm-8">
                            <div class="input-group" style="height: 30px;  max-width: 100%; margin: 5px 0 5px 0;">
                                <input type="number" min=0 max=100 step=1 id='A_value' style="text-align:center; height: 30px; padding: 0;" class="form-control" id="AcompInput" aria-describedby="basic-addon2"/>
                                <div class="input-group-append">
                                    <span style="height: 30px;" class="input-group-text" id="basic-addon2">%</span>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-6 col-lg-5 col-md-4 col-sm-4 v-center">
                              <h6 class="inline" > Компонент B: </h6>
                          </div>
                          <div class="col-6 col-lg-7 col-md-8 col-sm-8">
                              <div class="input-group" style="height: 30px;  max-width: 100%; margin: 5px 0 5px 0;">
                                  <input type="number" min=0 max=100 step=1 id='B_value' style="text-align:center; height: 30px; padding: 0;" class="form-control" id="AcompInput" aria-describedby="basic-addon2"/>
                                  <div class="input-group-append">
                                      <span style="height: 30px;" class="input-group-text" id="basic-addon2">%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                            <div class="col-6 col-lg-5 col-md-4 col-sm-4 v-center">
                                <h6 class="inline" > Компонент C: </h6>
                            </div>
                            <div class="col-6 col-lg-7 col-md-8 col-sm-8">
                                <div class="input-group" style="height: 30px;  max-width: 100%; margin: 5px 0 5px 0;">
                                    <input type="number" min=0 max=100 step=1 id='C_value' style="text-align:center; height: 30px; padding: 0;" class="form-control" id="AcompInput" aria-describedby="basic-addon2"/>
                                    <div class="input-group-append">
                                        <span style="height: 30px;" class="input-group-text" id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                          <input id="ABC_Slider" style="width: 100%;" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1"/>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                        <button class="btn btn-success btn-round" id="sendABC" style= "line-height: 1.25em;">Применить</button>
                    </div>
                  </div>
                </div>
          </div>  
          <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">Ручное управление нагрузками</h5>
                    </div>
                    <div class="card-body" >
                        <div class="row" >
                            <div class="col-md-12">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input"  id="additionalP0" name="additionalP0" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    <h6 class="card-checbox-form">Нагрузка #1</h6>
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input"  id="additionalP1" name="additionalP1" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    <h6 class="card-checbox-form">Нагрузка #2</h6>
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <strong>Внимание!</strong> Запуск нагрузки в ручном режиме останавливает работу правил!
                    </div>
                  </div>
                </div>
            </div>
      
    </div>
  </div>
  <!-- @if NODE_ENV='development' -->
<script src="js/pages/pumps.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='production' -->
<script src="pumps.js"></script>
<!-- @endif -->
</body>
</html>