        <!-- Editable table -->
      <div class="row">
        <div class="col-12">
        <div class="">
            <div class=" text-center">
                <h5 class="card-title">Управление правилами</h5>
            </div>
            <div class="" style="padding-top:0px;">
              <div class="row mb-3">
                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                  <div class="input-group mb-0" style="margin: 0;" title="Период опроса правил">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: white;" id="basic-addon1">Период опроса:</span>
                      </div>
                      <input type="number" id='sequenceRules' class="form-control" style = "border-radius: 0px; border-right: 0 none; text-align: center;"min=1 max=100000 step=1 value=1000 class="form-control" id="AcompInput" aria-describedby="basic-addon1"/>
                      <div class="input-group-append">
                        <span class="input-group-text" style="background-color: white;" id="basic-addon2">сек.</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                  Правила работают в режиме приоритета: из двух правил с одинаковой управляемой нагрузкой сработает правило, меньшее по номеру.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <button title="Выберите правило, которое хотите добавить" class="btn btn-success btn-round dropdown-toggle" type="button" id="ruleTypeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Добавить
              </button>
              <div class="dropdown-menu" aria-labelledby="ruleTypeDropdown">
                  <a class="dropdown-item sensors-tile-add">Правило для датчиков</a>
                  <a class="dropdown-item gcon-tile-add">Правило для герконов</a>
              </div>
                <!-- <button type="submit" class="btn btn-success btn-round tile-add">Добавить</button> -->
                <button type="submit" id="applyRules" class="btn btn-info btn-round pull-right">Сохранить все</button>
            </div>
          </div>
          </div>
        </div>
        <div class="row" id="rulesContainer">
        </div>

  <!--   Core JS Files   -->
  <!-- @if NODE_ENV='development' -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <!-- <script src="js/plugins/bootstrap-switch.js" defer></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script> -->
  <script src="js/plugins/jquery.mobile.custom.js"></script>
  <script src="js/plugins/x-editable.js"></script>
  <script src="js/plugins/bootstrap-notify.js"></script>
  <script src="js/paper-dashboard.js"></script>
  <script src="js/arduino.js"></script>
  <script src="js/main.js"></script>
  <script src="js/pages/regulator.js"></script>
  <!-- @endif -->

  <!-- @if NODE_ENV='production' -->
  <script src="scripts.js"></script>
  <script src="regulator.js"></script>
  <!-- @endif -->

</body>
</html>