<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <span id="dot" class="dot" title="Состояние подключения к контроллеру"></span>
        <a class="navbar-brand" href="#">Панель управления</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span id="notMobileBadge" class="mobile_button__badge text-center align-middle transparent"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <!--
        <form>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Поиск...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </form>-->
        <ul class="navbar-nav">
          <li class="nav-item btn-rotate dropdown">
            <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="nc-icon icon-bell"></i>
              <span id="notBadge"class="button__badge text-center align-middle transparent"></span>
              <p>
                <span class="d-lg-none d-md-block">Уведомления</span>
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" id="notifyClass">
              <!--<a class="dropdown-item" href="#" onclick="main.showNotificationByCode(1, 'error')">Выполните настройку</a>       
              <a class="dropdown-item" href="#" onclick="main.showNotificationByCode(2)">Проверьте сеть</a>
              <a class="dropdown-item" href="#" onclick="main.showNotificationByCode(3, 'info')">Проверьте сеть</a>
              -->
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link btn-rotate" href="#pablo">
              <i class="nc-icon icon-cog-alt"></i>
              <p>
                <span class="d-lg-none d-md-block">Аккаунт</span>
              </p>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>