<div class="swipe-area"></div>
<div class="sidebar" data-color="brown" data-active-color="danger">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
  <div class="logo">
    <!-- <a href="http://www.creative-tim.com" class="simple-text logo-mini text-center">
        <div class="logo-image-small"> -->
    <!-- @if NODE_ENV='development' -->
    <!--<img src="img/logo-small.png">-->
    <!-- @endif -->
    <!-- @if NODE_ENV='production' -->
    <!--<img src="logo-small.png">-->
    <!-- @endif -->
    <!-- </div>
      </a> -->
    <a
      href="#"
      class="simple-text text-center logo-normal"
      style="font-size: 24px;"
    >
      HARVESTECH
      <!-- <div class="logo-image-big">
          <img src="../src/img/logo-big.png">
        </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper" style="overflow:hidden;">
    <ul class="nav" id="menu">
      <li class="@@main-page">
        <a href="./dashboard.html" name='0'>
          <i class="nc-icon icon-dashboard" style="pointer-events: none;"></i>
          Главная панель
        </a>
      </li>
      <li class="@@pumps-page">
        <a href="./pumps.html" name='1'>
          <i class="nc-icon icon-pump" style="pointer-events: none;"></i>
          Управление
        </a>
      </li>
      <li class="@@sensors-page">
        <a href="./sensors.html">
          <i class="nc-icon icon-sensor" style="pointer-events: none;"></i>
          Датчики
        </a>
      </li>
      <li class="@@regulators-page">
        <a href="./regulator.html">
          <i class="nc-icon icon-regulator" style="pointer-events: none;"></i>
          Правила
        </a>
      </li>
      <li class="@@system-page">
        <a href="./system.html">
          <i class="nc-icon icon-settings" style="pointer-events: none;"></i>
          Система
        </a>
      </li>
      <li class="@@master-page">
        <a href="./master.html">
          <i class="nc-icon icon-fantasy" style="pointer-events: none;"></i>
          Мастер настройки
        </a>
      </li>
      <br />
      <li class="@@info-page">
        <a href="./info.html">
          <i class="nc-icon icon-about" style="pointer-events: none;"></i>
          О Т Л А Д К А
        </a>
      </li>
    </ul>
  </div>
</div>
