@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?43467801');
  src: url('../font/icons.eot?43467801#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?43467801') format('woff2'),
       url('../font/icons.woff?43467801') format('woff'),
       url('../font/icons.ttf?43467801') format('truetype'),
       url('../font/icons.svg?43467801#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?43467801#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-clock-1:before { content: '\e801'; } /* '' */
.icon-settings:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-regulator:before { content: '\e804'; } /* '' */
.icon-params:before { content: '\e805'; } /* '' */
.icon-peptide:before { content: '\e806'; } /* '' */
.icon-lightning-bolt:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-pump:before { content: '\e809'; } /* '' */
.icon-sensor:before { content: '\e80a'; } /* '' */
.icon-dashboard:before { content: '\e80b'; } /* '' */
.icon-themperature:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-trash-empty:before { content: '\e80e'; } /* '' */
.icon-globe:before { content: '\e80f'; } /* '' */
.icon-chart:before { content: '\e810'; } /* '' */
.icon-web-design:before { content: '\e811'; } /* '' */
.icon-electrical:before { content: '\e812'; } /* '' */
.icon-fantasy:before { content: '\e813'; } /* '' */
.icon-status:before { content: '\e814'; } /* '' */
.icon-bell:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-clock-2:before { content: '\e817'; } /* '' */
.icon-calendar:before { content: '\e818'; } /* '' */
.icon-about:before { content: '\e819'; } /* '' */
.icon-up-open:before { content: '\e81a'; } /* '' */
.icon-right-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */
.icon-ok:before { content: '\e81e'; } /* '' */
.icon-cancel-1:before { content: '\e81f'; } /* '' */
.icon-globe-1:before { content: '\e820'; } /* '' */
.icon-reed-switch:before { content: '\e821'; } /* '' */
.icon-user:before { content: '\e822'; } /* '' */
.icon-key:before { content: '\e823'; } /* '' */
.icon-lock:before { content: '\e824'; } /* '' */
.icon-mail:before { content: '\e825'; } /* '' */
.icon-spin:before { content: '\e832'; } /* '' */
.icon-spin-1:before { content: '\e838'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */