.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 2s
}

.animated.bounceIn,
.animated.bounceOut,
.animated.flipOutX,
.animated.flipOutY {
    animation-duration: .75s
}

@keyframes a {
    0%,
    to {
        transform: translateZ(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0)
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0)
    }
}

.shake {
    animation-name: a
}

@keyframes b {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.fadeInDown {
    animation-name: b
}

@keyframes c {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fadeOut {
    animation-name: c
}

@keyframes d {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
}

.fadeOutDown {
    animation-name: d
}

@keyframes e {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
}

.fadeOutUp {
    animation-name: e
}

.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none
}

@supports (-ms-overflow-style:none) {
    .ps-container {
        overflow: auto!important
    }
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    .ps-container {
        overflow: auto!important
    }
}

.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block;
    background-color: transparent
}

.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: .9
}

.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #999;
    height: 11px
}

.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: .9
}

.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #999;
    width: 11px
}

.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 0;
    height: 15px
}

.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    position: absolute;
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
    bottom: 2px;
    height: 6px
}

.ps-container>.ps-scrollbar-x-rail:active>.ps-scrollbar-x,
.ps-container>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
    height: 11px
}

.ps-container>.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    right: 0;
    width: 15px
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
    right: 2px;
    width: 6px
}

.ps-container>.ps-scrollbar-y-rail:active>.ps-scrollbar-y,
.ps-container>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    width: 11px
}

.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: .9
}

.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #999;
    height: 11px
}

.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: .9
}

.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #999;
    width: 11px
}

.ps-container:hover>.ps-scrollbar-x-rail,
.ps-container:hover>.ps-scrollbar-y-rail {
    opacity: .6
}

.ps-container:hover>.ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: .9
}

.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
    background-color: #999
}

.ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: .9
}

.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #999
}

body.swal2-shown {
    overflow-y: hidden
}

.swal2-container,
body.swal2-iosfix {
    position: fixed;
    left: 0;
    right: 0
}

.swal2-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    bottom: 0;
    padding: 10px;
    background-color: transparent;
    z-index: 1060
}

.swal2-container.swal2-fade {
    transition: background-color .1s
}

.swal2-container.swal2-shown {
    background-color: rgba(0, 0, 0, .4)
}

.swal2-modal {
    background-color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    box-shadow: 0 2px 2px hsla(38, 16%, 76%, .5);
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    position: relative;
    max-width: 100%
}

.swal2-modal:focus {
    outline: none
}

.swal2-modal.swal2-loading {
    overflow-y: hidden
}

.swal2-modal .swal2-title {
    color: #595959;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 0 0 .4em;
    padding: 0;
    display: block;
    word-wrap: break-word
}

.swal2-modal .swal2-buttonswrapper {
    margin-top: 15px
}

.swal2-modal .swal2-buttonswrapper:not(.swal2-loading) .swal2-styled[disabled] {
    opacity: .4;
    cursor: no-drop
}

.swal2-modal .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-confirm {
    box-sizing: border-box;
    border: 4px solid transparent;
    border-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 7.5px;
    vertical-align: top;
    background-color: transparent!important;
    color: transparent;
    cursor: default;
    border-radius: 100%;
    animation: m 1.5s linear 0s infinite normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.swal2-modal .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-cancel {
    margin-left: 30px;
    margin-right: 30px
}

.swal2-modal .swal2-buttonswrapper.swal2-loading:not(.swal2-styled).swal2-confirm:after {
    display: inline-block;
    content: "";
    margin-left: 5px;
    vertical-align: -1px;
    height: 15px;
    width: 15px;
    border: 3px solid #999;
    box-shadow: 1px 1px 1px #fff;
    border-right-color: transparent;
    border-radius: 50%;
    animation: m 1.5s linear 0s infinite normal
}

.swal2-modal .swal2-styled {
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 15px 5px 0;
    padding: 10px 32px
}

.swal2-modal .swal2-styled:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(50, 100, 150, .4)
}

.swal2-modal .swal2-image {
    margin: 20px auto;
    max-width: 100%
}

.swal2-modal .swal2-close {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    width: 38px;
    height: 40px;
    font-size: 36px;
    line-height: 40px;
    font-family: serif;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: #ccc;
    transition: color .1s ease
}

.swal2-modal .swal2-close:hover {
    color: #d55
}

.swal2-modal>.swal2-checkbox,
.swal2-modal>.swal2-file,
.swal2-modal>.swal2-input,
.swal2-modal>.swal2-radio,
.swal2-modal>.swal2-select,
.swal2-modal>.swal2-textarea {
    display: none
}

.swal2-modal .swal2-content {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    color: #545454;
    word-wrap: break-word
}

.swal2-modal .swal2-checkbox,
.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-radio,
.swal2-modal .swal2-select,
.swal2-modal .swal2-textarea {
    margin: 20px auto
}

.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06);
    transition: border-color .3s, box-shadow .3s
}

.swal2-modal .swal2-file.swal2-inputerror,
.swal2-modal .swal2-input.swal2-inputerror,
.swal2-modal .swal2-textarea.swal2-inputerror {
    border-color: #f27474!important;
    box-shadow: 0 0 2px #f27474!important
}

.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
    outline: none;
    border: 1px solid #b4dbed;
    box-shadow: 0 0 3px #c4e6f5
}

.swal2-modal .swal2-file::-webkit-input-placeholder,
.swal2-modal .swal2-input::-webkit-input-placeholder,
.swal2-modal .swal2-textarea::-webkit-input-placeholder {
    color: #ccc
}

.swal2-modal .swal2-file:-ms-input-placeholder,
.swal2-modal .swal2-input:-ms-input-placeholder,
.swal2-modal .swal2-textarea:-ms-input-placeholder {
    color: #ccc
}

.swal2-modal .swal2-file::placeholder,
.swal2-modal .swal2-input::placeholder,
.swal2-modal .swal2-textarea::placeholder {
    color: #ccc
}

.swal2-modal .swal2-range input {
    float: left;
    width: 80%
}

.swal2-modal .swal2-range output {
    float: right;
    width: 20%;
    font-size: 20px;
    font-weight: 600;
    text-align: center
}

.swal2-modal .swal2-range input,
.swal2-modal .swal2-range output {
    height: 43px;
    line-height: 43px;
    vertical-align: middle;
    margin: 20px auto;
    padding: 0
}

.swal2-modal .swal2-input {
    height: 43px;
    padding: 0 12px
}

.swal2-modal .swal2-input[type=number] {
    max-width: 150px
}

.swal2-modal .swal2-file {
    font-size: 20px
}

.swal2-modal .swal2-textarea {
    height: 108px;
    padding: 12px
}

.swal2-modal .swal2-select {
    color: #545454;
    font-size: inherit;
    padding: 5px 10px;
    min-width: 40%;
    max-width: 100%
}

.swal2-modal .swal2-radio {
    border: 0
}

.swal2-modal .swal2-radio label:not(:first-child) {
    margin-left: 20px
}

.swal2-modal .swal2-radio input,
.swal2-modal .swal2-radio span {
    vertical-align: middle
}

.swal2-modal .swal2-radio input {
    margin: 0 3px 0 0
}

.swal2-modal .swal2-checkbox {
    color: #545454
}

.swal2-modal .swal2-checkbox input,
.swal2-modal .swal2-checkbox span {
    vertical-align: middle
}

.swal2-modal .swal2-validationerror {
    background-color: #f0f0f0;
    margin: 0 -20px;
    overflow: hidden;
    padding: 10px;
    color: gray;
    font-size: 16px;
    font-weight: 300;
    display: none
}

.swal2-modal .swal2-validationerror:before {
    content: "!";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ea7d7d;
    color: #fff;
    line-height: 24px;
    text-align: center;
    margin-right: 10px
}

@supports (-ms-accelerator:true) {
    .swal2-range input {
        width: 100%!important
    }
    .swal2-range output {
        display: none
    }
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .swal2-range input {
        width: 100%!important
    }
    .swal2-range output {
        display: none
    }
}

.swal2-icon {
    width: 80px;
    height: 80px;
    border: 4px solid transparent;
    border-radius: 50%;
    margin: 20px auto 30px;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.swal2-icon.swal2-error {
    border-color: rgba(255, 54, 54, .3)
}

.swal2-icon.swal2-error .swal2-x-mark {
    position: relative;
    display: block
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #ff3636;
    display: block;
    top: 37px;
    border-radius: 2px
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    transform: rotate(45deg);
    left: 17px
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
    transform: rotate(-45deg);
    right: 16px
}

.swal2-icon.swal2-warning {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #ffb236;
    border-color: #ffb236
}

.swal2-icon.swal2-info,
.swal2-icon.swal2-warning {
    font-size: 60px;
    line-height: 80px;
    text-align: center
}

.swal2-icon.swal2-info {
    font-family: Open Sans, sans-serif;
    color: #3fc3ee;
    border-color: #9de0f6
}

.swal2-icon.swal2-question {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #87adbd;
    border-color: #c9dae1;
    font-size: 60px;
    line-height: 80px;
    text-align: center
}

.swal2-icon.swal2-success {
    border-color: #a5dc86
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line] {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    transform: rotate(45deg)
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    transform: rotate(-45deg);
    transform-origin: 60px 60px
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    transform: rotate(-45deg);
    transform-origin: 0 60px
}

.swal2-icon.swal2-success .swal2-success-ring {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(24, 206, 15, .3);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2
}

.swal2-icon.swal2-success .swal2-success-fix {
    width: 7px;
    height: 90px;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    transform: rotate(-45deg)
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    height: 5px;
    background-color: #18ce0f;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    width: 25px;
    left: 14px;
    top: 46px;
    transform: rotate(45deg)
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    width: 47px;
    right: 8px;
    top: 38px;
    transform: rotate(-45deg)
}

.swal2-progresssteps {
    font-weight: 600;
    margin: 0 0 20px;
    padding: 0
}

.swal2-progresssteps li {
    display: inline-block;
    position: relative
}

.swal2-progresssteps .swal2-progresscircle {
    background: #3085d6;
    border-radius: 2em;
    color: #fff;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    z-index: 20
}

.swal2-progresssteps .swal2-progresscircle:first-child {
    margin-left: 0
}

.swal2-progresssteps .swal2-progresscircle:last-child {
    margin-right: 0
}

.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep {
    background: #3085d6
}

.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep~.swal2-progresscircle,
.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep~.swal2-progressline {
    background: #add8e6
}

.swal2-progresssteps .swal2-progressline {
    background: #3085d6;
    height: .4em;
    margin: 0 -1px;
    z-index: 10
}

[class^=swal2] {
    -webkit-tap-highlight-color: transparent
}

@keyframes f {
    0% {
        transform: scale(.7)
    }
    45% {
        transform: scale(1.05)
    }
    80% {
        transform: scale(.95)
    }
    to {
        transform: scale(1)
    }
}

@keyframes g {
    0% {
        transform: scale(1);
        opacity: 1
    }
    to {
        transform: scale(.5);
        opacity: 0
    }
}

.swal2-show {
    animation: f .3s
}

.swal2-show.swal2-noanimation {
    animation: none
}

.swal2-hide {
    animation: g .15s forwards
}

.swal2-hide.swal2-noanimation {
    animation: none
}

@keyframes h {
    0% {
        width: 0;
        left: 1px;
        top: 19px
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px
    }
    to {
        width: 25px;
        left: 14px;
        top: 45px
    }
}

@keyframes i {
    0% {
        width: 0;
        right: 46px;
        top: 54px
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px
    }
    to {
        width: 47px;
        right: 8px;
        top: 38px
    }
}

@keyframes j {
    0% {
        transform: rotate(-45deg)
    }
    5% {
        transform: rotate(-45deg)
    }
    12% {
        transform: rotate(-405deg)
    }
    to {
        transform: rotate(-405deg)
    }
}

.swal2-animate-success-line-tip {
    animation: h .75s
}

.swal2-animate-success-line-long {
    animation: i .75s
}

.swal2-success.swal2-animate-success-icon .swal2-success-circular-line-right {
    animation: j 4.25s ease-in
}

@keyframes k {
    0% {
        transform: rotateX(100deg);
        opacity: 0
    }
    to {
        transform: rotateX(0deg);
        opacity: 1
    }
}

.swal2-animate-error-icon {
    animation: k .5s
}

@keyframes l {
    0% {
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }
    50% {
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }
    80% {
        transform: scale(1.15);
        margin-top: -6px
    }
    to {
        transform: scale(1);
        margin-top: 0;
        opacity: 1
    }
}

.swal2-animate-x-mark {
    animation: l .5s
}

.card-wizard {
    min-height: 410px;
    box-shadow: 0 2px 2px hsla(38, 16%, 76%, .5);
    opacity: 0;
    transition: all .3s linear
}

.card-wizard.active {
    opacity: 1
}

.card-wizard .card-header {
    padding: 15px 0!important;
    padding-bottom: 40px
}

.card-wizard .nav-pills .nav-item .nav-link {
    padding: 12px
}

.card-wizard .nav-pills .nav-item .nav-link,
.card-wizard .nav-pills .nav-item .nav-link.active,
.card-wizard .nav-pills .nav-item .nav-link.active:focus,
.card-wizard .nav-pills .nav-item .nav-link.active:hover,
.card-wizard .nav-pills .nav-item .nav-link:focus,
.card-wizard .nav-pills .nav-item .nav-link:hover {
    background-color: transparent;
    box-shadow: none
}

.card-wizard .picture-container {
    position: relative;
    cursor: pointer;
    text-align: center
}

.card-wizard .wizard-navigation {
    position: relative
}

.card-wizard .wizard-navigation .nav-link {
    display: flex;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.card-wizard .moving-tab i,
.card-wizard .wizard-navigation .nav-link i {
    display: inline-block;
    font-size: 19px;
    line-height: normal;
    margin-right: 6px;
    padding: 0;
    vertical-align: bottom
}

.card-wizard .picture {
    width: 106px;
    height: 106px;
    background-color: #999;
    border: 1px solid #e3e3e3;
    color: #fff;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all .2s;
    -webkit-transition: all .2s
}

.card-wizard .picture:hover {
    border-color: #2ca8ff
}

.card-wizard .moving-tab {
    position: absolute;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 0;
    left: 0;
    background-color: #66615b;
    /*box-shadow: 0 2px 2px hsla(38, 16%, 76%, .5);*/
    color: #fff!important;
    cursor: pointer;
    font-weight: 500
}

.card-wizard[data-color=primary] .moving-tab {
    color: #51cbce
}

.card-wizard[data-color=primary] .picture:hover {
    border-color: #51cbce
}

.card-wizard[data-color=primary] .choice.active .icon,
.card-wizard[data-color=primary] .choice:hover .icon {
    border-color: #51cbce;
    color: #51cbce
}

.card-wizard[data-color=primary] .checkbox input[type=checkbox]:checked+.checkbox-material .check,
.card-wizard[data-color=primary] .radio input[type=radio]:checked~.check {
    background-color: #51cbce
}

.card-wizard[data-color=primary] .radio input[type=radio]:checked~.circle {
    border-color: #51cbce
}

.card-wizard[data-color=white] .moving-tab {
    color: #fff
}

.card-wizard[data-color=white] .picture:hover {
    border-color: #fff
}

.card-wizard[data-color=white] .choice.active .icon,
.card-wizard[data-color=white] .choice:hover .icon {
    border-color: #fff;
    color: #fff
}

.card-wizard[data-color=white] .checkbox input[type=checkbox]:checked+.checkbox-material .check,
.card-wizard[data-color=white] .radio input[type=radio]:checked~.check {
    background-color: #fff
}

.card-wizard[data-color=white] .radio input[type=radio]:checked~.circle {
    border-color: #fff
}

.card-wizard[data-color=green] .moving-tab {
    color: #6bd098
}

.card-wizard[data-color=green] .picture:hover {
    border-color: #6bd098
}

.card-wizard[data-color=green] .choice.active .icon,
.card-wizard[data-color=green] .choice:hover .icon {
    border-color: #6bd098;
    color: #6bd098
}

.card-wizard[data-color=green] .checkbox input[type=checkbox]:checked+.checkbox-material .check,
.card-wizard[data-color=green] .radio input[type=radio]:checked~.check {
    background-color: #6bd098
}

.card-wizard[data-color=green] .radio input[type=radio]:checked~.circle {
    border-color: #6bd098
}

.card-wizard[data-color=blue] .moving-tab {
    color: #51bcda
}

.card-wizard[data-color=blue] .picture:hover {
    border-color: #51bcda
}

.card-wizard[data-color=blue] .choice.active .icon,
.card-wizard[data-color=blue] .choice:hover .icon {
    border-color: #51bcda;
    color: #51bcda
}

.card-wizard[data-color=blue] .checkbox input[type=checkbox]:checked+.checkbox-material .check,
.card-wizard[data-color=blue] .radio input[type=radio]:checked~.check {
    background-color: #51bcda
}

.card-wizard[data-color=blue] .radio input[type=radio]:checked~.circle {
    border-color: #51bcda
}

.card-wizard[data-color=orange] .moving-tab {
    color: #fbc658
}

.card-wizard[data-color=orange] .picture:hover {
    border-color: #fbc658
}

.card-wizard[data-color=orange] .choice.active .icon,
.card-wizard[data-color=orange] .choice:hover .icon {
    border-color: #fbc658;
    color: #fbc658
}

.card-wizard[data-color=orange] .checkbox input[type=checkbox]:checked+.checkbox-material .check,
.card-wizard[data-color=orange] .radio input[type=radio]:checked~.check {
    background-color: #fbc658
}

.card-wizard[data-color=orange] .radio input[type=radio]:checked~.circle {
    border-color: #fbc658
}

.card-wizard[data-color=red] .moving-tab {
    color: #ef8157
}

.card-wizard[data-color=red] .picture:hover {
    border-color: #ef8157
}

.card-wizard[data-color=red] .choice.active .icon,
.card-wizard[data-color=red] .choice:hover .icon {
    border-color: #ef8157;
    color: #ef8157
}

.card-wizard[data-color=red] .checkbox input[type=checkbox]:checked+.checkbox-material .check,
.card-wizard[data-color=red] .radio input[type=radio]:checked~.check {
    background-color: #ef8157
}

.card-wizard[data-color=red] .radio input[type=radio]:checked~.circle {
    border-color: #ef8157
}

.card-wizard .picture input[type=file] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0!important;
    position: absolute;
    top: 0;
    width: 100%
}

.card-wizard .picture-src {
    width: 100%
}

.card-wizard .tab-content {
    min-height: 355px;
    padding: 20px 0
}

.card-wizard .wizard-footer {
    padding: 0 15px
}

.card-wizard .wizard-footer .checkbox {
    margin-top: 16px
}

.card-wizard .disabled {
    display: none
}

.card-wizard .wizard-header {
    text-align: center;
    padding: 25px 0 35px
}

.card-wizard .wizard-header h5 {
    margin: 5px 0 0
}

.card-wizard .nav-pills>li {
    text-align: center
}

.card-wizard .btn {
    text-transform: uppercase
}

.card-wizard .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px
}

.card-wizard .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px
}

.card-wizard .choice[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5
}

.card-wizard .choice .icon {
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    color: #66615b;
    margin: 0 auto 20px;
    border: 1px solid #e3e3e3;
    transition: all .2s;
    -webkit-transition: all .2s
}

.card-wizard .choice i {
    font-size: 30px;
    line-height: 116px;
    position: absolute;
    left: 0;
    right: 0
}

.card-wizard .choice.active .icon,
.card-wizard .choice:hover .icon {
    border-color: #2ca8ff
}

.card-wizard .choice input[type=checkbox],
.card-wizard .choice input[type=radio] {
    position: absolute;
    left: -10000px;
    z-index: -1
}

.card-wizard .btn-finish {
    display: none
}

.card-wizard .card-title+.description {
    font-size: 17px;
    margin-bottom: 32px
}

.card-wizard .wizard-title {
    margin: 0
}

.card-wizard .nav-pills {
    background-color: #9a9a9a
}

.card-wizard .nav-pills>li+li {
    margin-left: 0
}

.card-wizard .nav-pills>li>a {
    border: 0!important;
    border-radius: 0;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #fff!important
}

.card-wizard .nav-pills>li.active>a,
.card-wizard .nav-pills>li.active>a:focus,
.card-wizard .nav-pills>li.active>a:hover,
.card-wizard .nav-pills>li>a:focus,
.card-wizard .nav-pills>li>a:hover {
    background-color: inherit;
    box-shadow: none
}

.card-wizard .nav-pills>li i {
    display: block;
    font-size: 30px;
    padding: 15px 0
}

.card-wizard .form-group.select-wizard {
    margin-top: 15px
}

.card-wizard .dropdown.show .dropdown-menu,
.card-wizard .dropup.show .dropdown-menu {
    transform: translateZ(0)!important
}