@font-face {
    font-family: 'icons';
    /* @if NODE_ENV=='development' */
    src: url('../fonts/icons.woff?70318858') format('woff');
    /* @endif */
    /* @if NODE_ENV=='production' */
    src: url('icons.woff?70318858') format('woff');
    /* @endif */
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'icons';
      src: url('../font/icons.svg?70318858#icons') format('svg');
    }
  }
  */
   
  /*------------------------
	base class definition
-------------------------*/
.nc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'nucleo-icons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
.nc-icon.sm {
  font-size: 0.8em !important;
}
.nc-icon.lg {
  font-size: 1.33333333em;
  vertical-align: -16%;
}
.nc-icon.x2 {
  font-size: 2em;
}
.nc-icon.x3 {
  font-size: 3em;
}
/*----------------------------------
  add a square/circle background
-----------------------------------*/
.nc-icon.square,
.nc-icon.circle {
  padding: 0.33333333em;
  vertical-align: -16%;
  background-color: #eee;
}
.nc-icon.circle {
  border-radius: 50%;
}
/*------------------------
  list icons
-------------------------*/
.nc-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.nc-icon-ul > li {
  position: relative;
}
.nc-icon-ul > li > .nc-icon {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}
.nc-icon-ul > li > .nc-icon.lg {
  top: 0;
  left: -1.35714286em;
}
.nc-icon-ul > li > .nc-icon.circle,
.nc-icon-ul > li > .nc-icon.square {
  top: -0.19047619em;
  left: -1.9047619em;
}
/*------------------------
  spinning icons
-------------------------*/
.nc-icon.spin {
  -webkit-animation: nc-icon-spin 2s infinite linear;
  -moz-animation: nc-icon-spin 2s infinite linear;
  animation: nc-icon-spin 2s infinite linear;
}
@-webkit-keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes nc-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.nc-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nc-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nc-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.nc-icon.flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.nc-icon.flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*------------------------
	font icons
-------------------------*/
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-arrows-cw:before { content: '\e800'; } /* '' */
  .icon-clock-1:before { content: '\e801'; } /* '' */
  .icon-settings:before { content: '\e802'; } /* '' */
  .icon-cog-alt:before { content: '\e803'; } /* '' */
  .icon-regulator:before { content: '\e804'; } /* '' */
  .icon-params:before { content: '\e805'; } /* '' */
  .icon-peptide:before { content: '\e806'; } /* '' */
  .icon-lightning-bolt:before { content: '\e807'; } /* '' */
  .icon-clock:before { content: '\e808'; } /* '' */
  .icon-pump:before { content: '\e809'; } /* '' */
  .icon-sensor:before { content: '\e80a'; } /* '' */
  .icon-dashboard:before { content: '\e80b'; } /* '' */
  .icon-themperature:before { content: '\e80c'; } /* '' */
  .icon-pencil:before { content: '\e80d'; } /* '' */
  .icon-trash-empty:before { content: '\e80e'; } /* '' */
  .icon-globe:before { content: '\e80f'; } /* '' */
  .icon-chart:before { content: '\e810'; } /* '' */
  .icon-web-design:before { content: '\e811'; } /* '' */
  .icon-electrical:before { content: '\e812'; } /* '' */
  .icon-fantasy:before { content: '\e813'; } /* '' */
  .icon-status:before { content: '\e814'; } /* '' */
  .icon-bell:before { content: '\e815'; } /* '' */
  .icon-cancel:before { content: '\e816'; } /* '' */
  .icon-clock-2:before { content: '\e817'; } /* '' */
  .icon-calendar:before { content: '\e818'; } /* '' */
  .icon-about:before { content: '\e819'; } /* '' */
  .icon-up-open:before { content: '\e81a'; } /* '' */
  .icon-right-open:before { content: '\e81b'; } /* '' */
  .icon-left-open:before { content: '\e81c'; } /* '' */
  .icon-down-open:before { content: '\e81d'; } /* '' */
  .icon-ok:before { content: '\e81e'; } /* '' */
  .icon-cancel-1:before { content: '\e81f'; } /* '' */
  .icon-globe-1:before { content: '\e820'; } /* '' */
  .icon-reed-switch:before { content: '\e821'; } /* '' */
  .icon-user:before { content: '\e822'; } /* '' */
  .icon-key:before { content: '\e823'; } /* '' */
  .icon-lock:before { content: '\e824'; } /* '' */
  .icon-spin:before { content: '\e832'; } /* '' */
  .icon-spin-1:before { content: '\e838'; } /* '' */
  .icon-magic:before { content: '\f0d0'; } /* '' */
  .icon-desktop:before { content: '\f108'; } /* '' */
  .icon-help:before { content: '\f128'; } /* '' */
  .icon-wifi:before { content: '\f1eb'; } /* '' */
  .icon-mail:before { content: '\e825'; } /* '' */