<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                 <h5 class="card-title">Время</h5>
            </div>
            <div class="card-body" style="padding-top: 0px !important;">
                <div class="row">
                    <div class="col-5 col-md-4 col-sm-3">
                        <div class="icon-big text-center icon-warning"> <i class="nc-icon icon-clock text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8 col-sm-9 v-center">
                        <div class="numbers" style="font-size: 30px;"> <span id="time">...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr />
                <div class="row">
                    <div class="col-2 col-md-2 v-center"> <i class="nc-icon icon-clock-1"></i>
                    </div>
                    <div class="col-10 col-md-10 numbers" style="text-align: center;"> <span id="rtime">...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <!-- <p class="card-type card-category">Кислотность</p> -->
                 <h5 class="card-title">Кислотность</h5>
            </div>
            <div class="card-body" style="padding-top: 0px !important;">
                <div class="row">
                    <div class="col-5 col-md-4 col-sm-3">
                        <div class="icon-big text-center icon-warning"> <i class="nc-icon icon-peptide text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8 col-sm-9 v-center">
                        <canvas id="graphPH" class="not-pointer" height="50" width="100%"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr />
                <div class="numbers" style="text-align: center;"> <span id="ph">...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                 <h5 class="card-title">Проводимость</h5>
            </div>
            <div class="card-body" style="padding-top: 0px !important;">
                <div class="row">
                    <div class="col-5 col-md-4 col-sm-3">
                        <div class="icon-big text-center icon-warning"> <i class="nc-icon icon-lightning-bolt text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8 col-sm-9 v-center">
                        <canvas id="graphEC" class="not-pointer" height="50" width="100%"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr />
                <div class="numbers" style="text-align: center;"> <span id="ec">...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                 <h5 class="card-title">Температура</h5>
            </div>
            <div class="card-body" style="padding-top: 0px !important;">
                <div class="row">
                    <div class="col-5 col-md-4 col-sm-3">
                        <div class="icon-big text-center icon-warning"> <i class="nc-icon icon-temperature text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8 col-sm-9 v-center">
                        <canvas id="graphT" class="not-pointer" height="50" width="100%"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr />
                <div class="numbers" style="text-align: center;"> <span id="temp">...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title">Активность насосов</h5>
            </div>
            <div class="card-body text-center" style="padding-top: 0px !important;">
                <div class="inline"> <i id="pumpState1" style="font-size: 24px;" class="nc-icon icon-pump text-danger"></i>
                    <h6
                    class="pump inline">PH &uarr;</h6>
                </div>
                <div class="inline"> <i id="pumpState2" style="font-size: 24px;" class="nc-icon icon-pump text-danger"></i>
                    <h6
                    class="pump inline">PH &darr;</h6>
                </div>
                <div class="inline"> <i id="pumpState3" style="font-size: 24px;" class="nc-icon icon-pump text-danger"></i>
                    <h6
                    class="pump inline">А<sub>comp</sub>
                        </h6>
                </div>
                <div class="inline"> <i id="pumpState4" style="font-size: 24px;" class="nc-icon icon-pump text-danger"></i>
                    <h6
                    class="pump inline">B<sub>comp</sub>
                        </h6>
                </div>
                <div class="inline"> <i id="pumpState5" style="font-size: 24px;" class="nc-icon icon-pump text-danger"></i>
                    <h6
                    class="pump inline">C<sub>comp</sub>
                        </h6>
                </div>
            </div>
            <div class="card-footer "></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                 <h5 class="card-title">Нагрузки</h5>
            </div>
            <div class="card-body text-center" style="padding-top: 3px !important;">
                <div class="inline"> <i id="powerState1" style="font-size: 20px;" class="nc-icon icon-electrical text-danger"></i>
                    <h6
                    class="pump inline">1<sub>нагр.</sub>
                        </h6>
                </div>
                <div class="inline"> <i id="powerState2" style="font-size: 20px;" class="nc-icon icon-electrical text-danger"></i>
                    <h6
                    class="pump inline">2<sub>нагр.</sub>
                        </h6>
                </div>
            </div>
            <div class="card-footer "></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                 <h5 class="card-title">Герконы</h5>
            </div>
            <div class="card-body text-center" style="padding-top: 3px !important;">
                <div class="inline"> <i id="gerconState1" style="font-size: 20px;" class="nc-icon icon-reed-switch text-danger"></i>
                    <h6
                    class="pump inline">1<sub>геркон</sub>
                        </h6>
                </div>
                <div class="inline"> <i id="gerconState2" style="font-size: 20px;" class="nc-icon icon-reed-switch text-danger"></i>
                    <h6
                    class="pump inline">2<sub>геркон</sub>
                        </h6>
                </div>
            </div>
            <div class="card-footer "></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <div class="stats pull-left" style="width: 80%;">
                     <h5 class="card-title">График значений</h5>
                </div> <i class="nc-icon icon-spin pull-right btn-update" id="updGraphBtn"></i>
                <div
                class="stats pull-left">
                    <p class="card-category">Последних значений: <b><span id="graph_val">.</span></b

            >. Интервал: <b><span id="graph_int">.</span> сек</b>.</p>
            </div>
        </div>
        <div class="card-body ">
            <canvas id="graphParameters" width="400" height="400"></canvas>
        </div>
        <div class="card-footer ">
            <hr />
            <div class="stats pull-left"> <i class="nc-icon spin icon-spin"></i> Период обновления: <span name="reloadTimeGraph">1</span> мин.</div>
            <button
            type="sumbit" onclick="window.location.href='/system.html?focus=graph'"
            class="btn btn-info btn-round pull-right">Настроить</button>
        </div>
    </div>
</div>
</div>
<!-- WELCOME MODAL -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog"
aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header justify-content-center" style="padding: 20px;text-align: center;display: block!important;">
                     <h4 class="title title-up" style="color:#1f8c4d;">

            <i class="nc-icon icon-mail"></i> Добро пожаловать!

          </h4>
                </div>
                <div class="modal-body" style="padding: 20px 50px; text-align: justify;">
                    <p>Мы, <b>HARVESTECH</b>, рады представить Вам наш новый продукт. Надеемся,
                        Вы внимательно изучили инструкцию и готовы приступать к работе. Для начала,
                        рекомендуем Вам перейти в <b>"Мастер быстрой настройки"</b> для того чтобы
                        приступить к работе с нашим устройством.</p>
                </div>
                <div class="modal-footer" style="padding: 0;">
                    <div class="left-side">
                        <form action="/master.html">
                            <button type="submit" class="btn btn-default btn-link btn-full newMode">Перейти</button>
                        </form>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button type="button" class="btn btn-danger btn-link btn-full newMode"
                        data-dismiss="modal" aria-label="Close">Спасибо, я сам.</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Core JS Files -->
<script src="js/core/jquery.min.js"></script>
<!-- <script src="js/core/popper.min.js"></script> -->
<script src="js/core/bootstrap.min.js"></script>
<script src="js/plugins/moment.min.js"></script>
<script src="js/plugins/moment.ru.js"></script>
<!-- <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script> -->
<script src="js/plugins/jquery.mobile.custom.js"></script>
<script src="js/plugins/bootstrap-notify.js"></script>
<script src="js/paper-dashboard.js"></script>
<script src="js/charts/chart.js"></script>
<script src="js/charts/hammer.js"></script>
<script src="js/charts/chart.zoom.js"></script>
<script src="js/arduino.js"></script>
<script src="js/pages/index.js"></script>
<script src="js/main.js"></script>
