<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h4 class="card-title text-center">Общая информация</h4>
            </div>
            <div class="card-body ">
                <table id='jsonTable' class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class='text-center'>Параметр</th>
                            <th class='text-center'>Значение (RAW)</th>
                            <th class='text-center'>Значение /1000</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-footer ">
                <button id="updateBtn" type='submit' class="btn btn-success btn-round">Обновить</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h4 class="card-title text-center">Проверка функций</h4>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Насос 1:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="pump1on" type='submit' class="btn btn-sm btn-success btn-round">ВКЛ</button>
                        <button id="pump1off" type='submit' class="btn btn-sm btn-danger btn-round">ВЫКЛ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Насос 2:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="pump2on" type='submit' class="btn btn-sm btn-success btn-round">ВКЛ</button>
                        <button id="pump2off" type='submit' class="btn btn-sm btn-danger btn-round">ВЫКЛ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Насос 3:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="pump3on" type='submit' class="btn btn-sm btn-success btn-round">ВКЛ</button>
                        <button id="pump3off" type='submit' class="btn btn-sm btn-danger btn-round">ВЫКЛ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Насос 4:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="pump4on" type='submit' class="btn btn-sm btn-success btn-round">ВКЛ</button>
                        <button id="pump4off" type='submit' class="btn btn-sm btn-danger btn-round">ВЫКЛ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Насос 5:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="pump5on" type='submit' class="btn btn-sm btn-success btn-round">ВКЛ</button>
                        <button id="pump5off" type='submit' class="btn btn-sm btn-danger btn-round">ВЫКЛ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Нагрузка 1:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="ap1on" type='submit' class="btn btn-sm btn-success btn-round">ВКЛ</button>
                        <button id="ap1off" type='submit' class="btn btn-sm btn-danger btn-round">ВЫКЛ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Нагрузка 2:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="ap2on" type='submit' class="btn btn-sm btn-success btn-round">ВКЛ</button>
                        <button id="ap2off" type='submit' class="btn btn-sm btn-danger btn-round">ВЫКЛ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Геркон 1:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="gk1on" type='submit' class="btn btn-sm btn-success btn-round">ЗАМКНУТЬ</button>
                        <button id="gk1off" type='submit' class="btn btn-sm btn-danger btn-round">РАЗОМКНУТЬ</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-2 col-sm-1 v-center">
                        <p class="inline">Геркон 2:</p>
                    </div>
                    <div class="col-8 col-lg-9 col-md-10 col-sm-11">
                        <button id="gk2on" type='submit' class="btn btn-sm btn-success btn-round">ЗАМКНУТЬ</button>
                        <button id="gk2off" type='submit' class="btn btn-sm btn-danger btn-round">РАЗОМКНУТЬ</button>
                    </div>
                </div>
            </div>
            <div class="card-footer "> <i>Если нажать на кнопку управления герконами, включится виртуальный режим (они перестанут управляться аппаратно до перезагрузки устройства).</i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
         <h3 class="mb-0">Отладка PID</h3>
        <p><strong>ВНИМАНИЕ!</strong> Все значения умножаются на 100 (EC, PH - на
            1000) перед отправкой.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" id="toggleDebug" name="toggleDebug" type="checkbox"> <span class="form-check-sign"></span>
                 <h6 class="card-checbox-form">Включить отладку</h6>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                 <h5 class="card-title text-center">Параметры PID <strong>[PH]</strong></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">K<sup>p</sup>:</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="KpPH" name="KpPH">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">K<sup>i</sup>:</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="KiPH" name="KiPH">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">K<sup>d</sup>:</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="KdPH" name="KdPH">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button type="submit" id='setPIDPHBtn' class="btn btn-info btn-round">Применить</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                 <h5 class="card-title text-center">Параметры PID <strong>[EC]</strong></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">K<sup>p</sup>:</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="KpEC" name="KpEC">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">K<sup>i</sup>:</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="KiEC" name="KiEC">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">K<sup>d</sup>:</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="KdEC" name="KdEC">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button type="submit" id='setPIDECBtn' class="btn btn-info btn-round">Применить</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                 <h5 class="card-title text-center">Ручная установка</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">PH</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="PHcustom" name="PHcustom">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 col-md-3 col-sm-2 v-center">EC</label>
                    <div class="col-8 col-md-9 col-sm-10">
                        <div class="form-group">
                            <input type="number" class="form-control" id="ECcustom" name="ECcustom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button type="submit" id='updatePHECBtn' class="btn btn-info btn-round">Применить</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title text-center">Рассчитанные параметры</h5>
            </div>
            <div class="card-body ">
                <table id='jsonPIDTable' class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class='text-center'>Параметр</th>
                            <th class='text-center'>Значение</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-footer ">
                <button id="updatePIDValuesBtn" type='submit' class="btn btn-success btn-round">Обновить</button>
            </div>
        </div>
    </div>
</div>
<!-- Core JS Files -->
<script src="js/core/jquery.min.js"></script>
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap.min.js"></script>
<script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="js/plugins/bootstrap-notify.js"></script>
<script src="js/plugins/jquery.mobile.custom.js"></script>
<script src="js/paper-dashboard.js"></script>
<script src="js/arduino.js"></script>
<script src="js/main.js"></script>
<script src="js/pages/info.js"></script>
</body>

</html>