<!-- Editable table -->
<div class="row">
    <div class="col-xl-6 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                 <h5 class="card-title">Параметры системы</h5>
            </div>
            <div class="card-body">
                <div id="table" class="table-editable"> <span class="table-add float-right mb-3 mr-2"><a class="text-success"><i class="fa fa-plus fa-2x"

                            aria-hidden="true"></i></a></span>
                    <table class="table table-bordered table-responsive-md text-center"
                    style="margin: 0 0 0 0;">
                        <tr>
                            <th class="text-center">Параметр</th>
                            <th class="text-center">Минимум</th>
                            <th class="text-center">Максимум</th>
                        </tr>
                        <tr>
                            <td class="pt-3-half" contenteditable="false" style="width: 10%;">PH</td>
                            <td class="pt-3-half" id="ph_min" data-placement="left"></td>
                            <td class="pt-3-half" id="ph_max" data-placement="right"></td>
                        </tr>
                        <tr>
                            <td class="pt-3-half" contenteditable="false">EC</td>
                            <td class="pt-3-half" id="ec_min" data-placement="left"></td>
                            <td class="pt-3-half" id="ec_max" data-placement="right"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row ml-0 mb-1">
                    <button type="submit" id='applyMinMax' class="btn btn-info btn-round">Применить</button>
                </div>
                <div class="row ml-0 mt-2">Для настройки значений нужно нажать левой кнопкой мыши на ячейку со значением.</div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title">Калибровка датчиков</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="custom-select-form">
                            <select id="sersorType" title="Выберите датчик">
                                <option selected value="0">PH</option>
                                <option value="1">EC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input data-prefix="Эталон:" class="card-spinner-form" id="sensorValue"
                        value="1.05" data-decimals="2" min="0" max="10" step="0.1" type="number"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <button class="btn btn-success btn-round" id="sensorCalibration" style="height: 46px; width: 100%; line-height: 1.25em; margin-bottom: 0;">Сохранить</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <button class="btn btn-warning btn-round" id="clearCalibration" style="height: 46px; width: 100%; line-height: 1.25em;">Сбросить</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="inline">
                            <h6 class="pump inline">Калибровка:</h6>
                        </div>
                        <div class="inline"><i id="calibrationState1" class="nc-icon icon-status text-danger"></i> 
                            <h6
                            class="pump inline">PH</h6>
                        </div>
                        <div class="inline"><i id="calibrationState2" class="nc-icon icon-status text-danger"></i> 
                            <h6
                            class="pump inline">EC</h6>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-4">

                          <div class="inline pull-right"><h6 class="pump inline">PH<sub>АЦП</sub>=<span id="ph_acp">...</span></h6></div>

                          <div class="inline pull-right"><h6 class="pump inline">EC<sub>АЦП</sub>=<span id="ec_acp">...</span></h6></div>

                      </div> --></div>
            </div>
            <div class="card-footer"> <strong>Внимание!</strong> Калибровку каждого датчика необходимо осуществлять
                по <u>двум разным</u> точкам измерений!</div>
        </div>
    </div>
</div>
<!-- Core JS Files -->
<script src="js/pages/sensors.js"></script>
</body>

</html>