<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                 <h5 class="card-title">Автоматика</h5>
            </div>
            <div class="card-body" style="font-size:18px !important;">
                <div style="margin: 12px 0 12px 0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="phctrl" name="phctrl" type="checkbox"> <span class="form-check-sign"></span>
                                     <h6 class="card-checbox-form">Контроль PH</h6>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="ecctrl" name="ecctrl" type="checkbox"> <span class="form-check-sign"></span>
                                     <h6 class="card-checbox-form">Контроль EC</h6>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="addpowerctrl" name="addpowerctrl"
                                    type="checkbox"> <span class="form-check-sign"></span>
                                     <h6 class="card-checbox-form">Контроль доп. нагрузок</h6>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">

                        <div class="col-md-12">

                            <div class="form-check">

                              <label class="form-check-label">

                                <input class="form-check-input"  id="waterlevelctrl" name="waterlevelctrl" type="checkbox">

                                <span class="form-check-sign"></span>

                                <h6 class="card-checbox-form">Контроль уровня воды</h6>

                              </label>

                            </div>

                        </div>

                    </div> --></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" id="graphCard">
            <div class="card-header ">
                 <h5 class="card-title">Настройки графика</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-4 col-md-5 col-sm-4 v-center">Период значений (сек):</label>
                    <div class="col-8 col-md-7 col-sm-8">
                        <div class="form-group">
                            <input type="number" style="height: 30px; margin:0;" class="form-control"
                            id="updgraphevery" name="updateGraphFreq" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 col-md-5 col-sm-4 v-center">Максимум значений:</label>
                    <div class="col-8 col-md-7 col-sm-8">
                        <div class="form-group">
                            <input type="number" style="height: 30px; margin:0;" class="form-control"
                            id="graphmaxcount" name="updateGraphFreq" value="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" id="saveGraph" class="btn btn-info btn-round">Применить</button>
                <button type="button" id="clearGraph" class="btn btn-success btn-round pull-right">Очистить</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title">Вход в панель</h5>
            </div>
            <div class="card-body ">
                <form class="form-horizontal" action="" method="get" id="wwwAuthForm">
                    <div class="row">
                        <label class="col-4 col-md-2 col-sm-4 v-center">Логин:</label>
                        <div class="col-8 col-md-10 col-sm-8">
                            <div class="form-group">
                                <input type="text" class="form-control" id="wwwuser" name="wwwuser" value=""
                                placeholder="Введите логин">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-4 col-md-2 col-sm-4 v-center">Пароль:</label>
                        <div class="col-8 col-md-10 col-sm-8">
                            <div class="form-group">
                                <input type="password" class="form-control" id="wwwpass" name="wwwpass"
                                value="" placeholder="Введите пароль">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="wwwauth" name="wwwauth" type="checkbox"> <span class="form-check-sign"></span>
Использовать авторизацию</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer ">
                <button type="submit" form="wwwAuthForm" class="btn btn-info btn-round">Применить</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title">Время и дата</h5>
            </div>
            <div class="card-body ">
                <div class="row">
                    <label class="col-4 col-md-4 col-sm-4 v-center">Время:</label>
                    <div class="col-8 col-md-8 col-sm-8">
                        <div class="form-group">
                            <input type="text" id="datetimepicker" class="form-control" id="nowtime"
                            name="nowtime" value="01.01.2019">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" id="ntpenabled" name="ntpenabled" type="checkbox"> <span class="form-check-sign"></span>
Использовать NTP-сервер</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 col-md-4 col-sm-4 v-center">Часовой пояс:</label>
                    <div class="col-8 col-md-8 col-sm-8">
                        <div class="form-group">
                            <select class="form-control" id="tz" name="tz">
                                <option value="-120">UTC/GMT -12:00</option>
                                <option value="-110">UTC/GMT -11:00</option>
                                <option value="-100">UTC/GMT -10:00</option>
                                <option value="-90">UTC/GMT -09:00</option>
                                <option value="-80">UTC/GMT -08:00</option>
                                <option value="-70">UTC/GMT -07:00</option>
                                <option value="-60">UTC/GMT -06:00</option>
                                <option value="-50">UTC/GMT -05:00</option>
                                <option value="-40">UTC/GMT -04:00</option>
                                <option value="-35">UTC/GMT -03:30</option>
                                <option value="-30">UTC/GMT -03:00</option>
                                <option value="-20">UTC/GMT -02:00</option>
                                <option value="-10">UTC/GMT -01:00</option>
                                <option value="0">UTC/GMT +00:00</option>
                                <option value="10">UTC/GMT +01:00</option>
                                <option value="20">UTC/GMT +02:00</option>
                                <option value="30">UTC/GMT +03:00</option>
                                <option value="35">UTC/GMT +03:30</option>
                                <option value="40">UTC/GMT +04:00</option>
                                <option value="45">UTC/GMT +04:30</option>
                                <option value="50">UTC/GMT +05:00</option>
                                <option value="55">UTC/GMT +05:30</option>
                                <option value="57">UTC/GMT +05:45</option>
                                <option value="60">UTC/GMT +06:00</option>
                                <option value="65">UTC/GMT +06:30</option>
                                <option value="70">UTC/GMT +07:00</option>
                                <option value="80">UTC/GMT +08:00</option>
                                <option value="90">UTC/GMT +09:00</option>
                                <option value="95">UTC/GMT +09:30</option>
                                <option value="100">UTC/GMT +10:00</option>
                                <option value="110">UTC/GMT +11:00</option>
                                <option value="120">UTC/GMT +12:00</option>
                                <option value="120">UTC/GMT +12:00</option>
                                <option value="130">UTC/GMT +13:00</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button type="button" id="applyTime" class="btn btn-info btn-round">Применить</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title">Сетевые настройки</h5>
            </div>
            <div class="card-body ">
                <form method="#" action="#">
                    <div class="row">
                        <label class="col-4 col-md-3 col-sm-2 v-center" style="margin-bottom:0px;">Статус соединения:</label>
                        <div class="col-8 col-md-9 col-sm-10">
                            <p class="inline" id="connectionstate">N/A</p>
                            <div class="inline" id="ipaddress">(ip: <u><span id="ipaddr">N/A</span></u>)</div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-4 col-md-3 col-sm-2 v-center" style="margin-bottom:0px;">Доступно сетей:</label>
                        <div class="col-8 col-md-9 col-sm-10" id="numNets">N/A</div>
                    </div>
                    </br>
                    <table class="table table-sm text-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Имя (SSID)</th>
                                <th scope="col">Канал</th>
                                <th scope="col">Защита</th>
                                <th scope="col">Сигнал</th>
                            </tr>
                        </thead>
                        <tbody id="networks"></tbody>
                    </table>
                </form>
            </div>
            <div class="card-footer">
                <button href="javascript:GetState(); getNetwork();" type="submit" class="btn btn-info btn-round">Обновить сети</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title">Пользовательские настройки</h5>
                <p class="card-category" style="font-size:14px;">В этом разделе Вы можете сохранить свои текущие настройки в файл или переключиться
                    на ранее сохраненные.</p>
            </div>
            <div class="card-body ">
                <div class="row" style="margin-bottom: 10px;">
                    <label class="col-6 col-md-4 col-sm-4 v-center" style="margin-bottom: 0px;">Файл:</label>
                    <div class="col-6 col-md-8 col-sm-8">
                        <select class="form-control" id="cfgList" name="cfgList" style="height: 100% !important;">
                            <option value="0">№1 - Без имени</option>
                            <option value="1">№2 - Без имени</option>
                            <option value="2">№3 - Без имени</option>
                            <option value="3">№4 - Без имени</option>
                            <option value="4">№5 - Без имени</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-6 col-md-4 col-sm-4 v-center">Имя:</label>
                    <div class="col-6 col-md-8 col-sm-8">
                        <input type="text" id="cfgName" maxlength="20" class="form-control v-center"
                        placeholder="Без имени"></input>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 col-md-6 col-sm-6">
                        <input id="loadCfgBtn" type='submit' class="btn btn-success btn-round"
                        value='Применить'>
                    </div>
                    <div class="col-6 col-md-6 col-sm-6">
                        <input id="saveCfgBtn" type='submit' class="btn btn-warning btn-round pull-right"
                        value='Сохранить'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                 <h5 class="card-title">Обновление прошивки</h5>
                <p class="card-category" style="font-size:14px; margin-bottom: 0;">При наличии активного подключения к сети Интернет, Вы можете обновить
                    прошивку онлайн.
                    <br> <i>Если нажать на идентификатор, он скопируется в буфер обмена.</i>
                </p>
            </div>
            <div class="card-body ">
                <div class="row">
                    <label class="col-6 col-md-4 col-sm-4 v-center" style="margin-bottom: 0px;">Текущая версия:</label>
                    <div class="col-6 col-md-8 col-sm-8" id="hwversion">N/A</div>
                </div>
                <div class="row">
                    <label class="col-6 col-md-4 col-sm-4 v-center" style="margin-bottom: 0px;">Идентификатор:</label>
                    <div class="col-6 col-md-8 col-sm-8" id="mac">N/A</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 col-md-6 col-sm-6">
                        <input id="updateHTTPButton" type='submit' class="btn btn-success btn-round"
                        value='Обновить с сервера'>
                    </div>
                    <div class="col-6 col-md-6 col-sm-6"> <a href="/log.txt" download>

                            <input type='submit' class="btn btn-warning btn-round pull-right" value='Скачать лог-файл'>

                          </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Core JS Files -->
<script src="js/core/jquery.min.js" defer></script>
<script src="js/plugins/moment.min.js" defer></script>
<script src="js/plugins/moment.ru.js" defer></script>
<script src="js/core/popper.min.js" defer></script>
<script src="js/core/bootstrap.min.js" defer></script>
<script src="js/plugins/perfect-scrollbar.jquery.min.js" defer></script>
<!-- <script src="js/plugins/bootstrap-switch.js" defer></script> -->
<script src="js/plugins/bootstrap-datetimepicker.js" defer></script>
<script src="js/plugins/jquery.mobile.custom.js" defer></script>
<script src="js/plugins/bootstrap-notify.js" defer></script>
<script src="js/plugins/sweetalert2.js"></script>
<script src="js/paper-dashboard.js" defer></script>
<script src="js/arduino.js" defer></script>
<script src="js/pages/system.js" defer></script>
<script src="js/spark-md5.js" defer></script>
<script src="js/main.js" defer></script>
</body>

</html>