/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
//   /* The slider */
//   .slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #ccc;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }  
  
//   .slider:before {
//     position: absolute;
//     content: "";
//     height: 26px;
//     width: 26px;
//     left: 4px;
//     bottom: 4px;
//     background-color: white;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
  
//   input:checked + .slider {
//     background-color: #2196F3;
//   }
  
//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }
  
//   input:checked + .slider:before {
//     -webkit-transform: translateX(26px);
//     -ms-transform: translateX(26px);
//     transform: translateX(26px);
//   }
  
  /* Rounded sliders */
//   .slider.round {
//     border-radius: 34px;
//   }
  
//   .slider.round:before {
//     border-radius: 50%;
//   }


  .bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
    position: relative;
    text-align: left;
    overflow: hidden;
    margin-bottom: 0px;
    line-height: 8px;
    width: 61px!important;
    height: 26px;
    outline: none;
    z-index: 0;
    margin-right: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.bootstrap-switch .bootstrap-switch-container {
    display: inline-flex;
    top: 0;
    height: 26px;
    border-radius: 4px;
    transform: translateZ(0);
    width: 100px!important
}

.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block!important;
    height: 100%;
    color: #fff;
    padding: 6px 10px;
    font-size: 11px;
    text-indent: -5px;
    line-height: 15px;
    transition: .25s ease-out
}

.bootstrap-switch .bootstrap-switch-handle-off i,
.bootstrap-switch .bootstrap-switch-handle-on i,
.bootstrap-switch .bootstrap-switch-label i {
    font-size: 12px;
    line-height: 14px
}

.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-on {
    text-align: center;
    z-index: 1;
    float: left;
    width: 50%!important;
    background-color: #66615b
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #7a9e9f
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
    color: #fff;
    background: #68b3c8
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #fff;
    background: #7ac29a
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
    background: #f3bb45;
    color: #fff
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
    color: #fff;
    background: #eb5e28
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #fff;
    background: #cfcfca
}

.bootstrap-switch .bootstrap-switch-label {
    text-align: center;
    z-index: 100;
    color: #333;
    background: #fff;
    width: 22px!important;
    height: 22px;
    margin: 2px -11px;
    border-radius: 12px;
    position: relative;
    float: left;
    padding: 0;
    background-color: #fff;
    box-shadow: inset 0 1px 1px #fff, 0 1px 1px rgba(0, 0, 0, .25)
}

.bootstrap-switch .bootstrap-switch-handle-on {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.bootstrap-switch .bootstrap-switch-handle-off {
    text-indent: 6px
}

.bootstrap-switch input[type=checkbox],
.bootstrap-switch input[type=radio] {
    position: absolute!important;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1
}

.bootstrap-switch input[type=checkbox].form-control,
.bootstrap-switch input[type=radio].form-control {
    height: auto
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
    padding: 6px 16px;
    font-size: 18px;
    line-height: 1.33
}

.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-indeterminate,
.bootstrap-switch.bootstrap-switch-readonly {
    cursor: default!important
}

.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default!important
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
    transition: margin-left .5s
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-container {
    margin-left: -2px!important
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
    margin-left: -37px!important
}

.bootstrap-switch.bootstrap-switch-on:hover .bootstrap-switch-label {
    width: 26px!important;
    margin: 2px -15px
}

.bootstrap-switch.bootstrap-switch-off:hover .bootstrap-switch-label {
    width: 26px!important;
    margin: 2px -15px -13px -11px
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-handle-off {
    background-color: #66615b
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-handle-on {
    background-color: #cfcfca
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-danger {
    background-color: #eb5e28
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-warning {
    background-color: #f3bb45
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-success {
    background-color: #7ac29a
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-primary {
    background-color: #7a9e9f
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-info {
    background-color: #68b3c8
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-default {
    background-color: #66615b
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-danger,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-info,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-primary,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-success,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-warning {
    background-color: #cfcfca
}

.bootstrap-table .table {
    margin-bottom: 0!important;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse!important;
    border-radius: 1px
}

.bootstrap-table .table:not(.table-condensed),
.bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.bootstrap-table .table:not(.table-condensed)>tbody>tr>th,
.bootstrap-table .table:not(.table-condensed)>tfoot>tr>td,
.bootstrap-table .table:not(.table-condensed)>tfoot>tr>th,
.bootstrap-table .table:not(.table-condensed)>thead>tr>td {
    padding: 8px
}

.bootstrap-table .table.table-no-bordered>tbody>tr>td,
.bootstrap-table .table.table-no-bordered>thead>tr>th {
    border-right: 2px solid transparent
}

.bootstrap-table .table.table-no-bordered>tbody>tr>td:last-child {
    border-right: none
}

.fixed-table-container {
    position: relative;
    clear: both;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
}

.fixed-table-container.table-no-bordered {
    border: 1px solid transparent
}

.fixed-table-footer,
.fixed-table-header {
    overflow: hidden
}

.fixed-table-footer {
    border-top: 1px solid #ddd
}

.fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%
}

.fixed-table-container table {
    width: 100%
}

.fixed-table-container thead th {
    height: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd
}

.fixed-table-container thead th:focus {
    outline: 0 solid transparent
}

.fixed-table-container thead th:first-child:not([data-not-first-th]) {
    border-left: none;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
    padding: 8px;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fixed-table-container thead th .sortable {
    cursor: pointer;
    background-position: 100%;
    background-repeat: no-repeat;
    padding-right: 30px
}

.fixed-table-container thead th .both {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC")
}

.fixed-table-container thead th .asc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==")
}

.fixed-table-container thead th .desc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=")
}

.fixed-table-container th.detail {
    width: 30px
}

.fixed-table-container tbody td {
    border-left: 1px solid #ddd
}

.fixed-table-container tbody tr:first-child td {
    border-top: none
}

.fixed-table-container tbody td:first-child {
    border-left: none
}

.fixed-table-container tbody .selected td {
    background-color: #f5f5f5
}

.fixed-table-container .bs-checkbox {
    text-align: center
}

.fixed-table-container input[type=checkbox],
.fixed-table-container input[type=radio] {
    margin: 0 auto!important
}

.fixed-table-container .no-records-found {
    text-align: center
}

.fixed-table-pagination .pagination-detail,
.fixed-table-pagination div.pagination {
    margin-top: 10px;
    margin-bottom: 10px
}

.fixed-table-pagination div.pagination .pagination {
    margin: 0
}

.fixed-table-pagination .pagination a {
    padding: 6px 12px;
    line-height: 1.428571429
}

.fixed-table-pagination .pagination-info {
    line-height: 34px;
    margin-right: 5px
}

.fixed-table-pagination .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.fixed-table-pagination .dropup .dropdown-menu {
    margin-bottom: 0
}

.fixed-table-pagination .page-list {
    display: inline-block
}

.fixed-table-toolbar .columns-left {
    margin-right: 5px
}

.fixed-table-toolbar .columns-right {
    margin-left: 5px
}

.fixed-table-toolbar .columns label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429
}

.fixed-table-toolbar .bs-bars,
.fixed-table-toolbar .columns,
.fixed-table-toolbar .search {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px
}

.fixed-table-pagination li.disabled a {
    pointer-events: none;
    cursor: default
}

.fixed-table-loading {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    text-align: center
}

.fixed-table-body .card-view .title {
    font-weight: 700;
    display: inline-block;
    min-width: 30%;
    text-align: left!important
}

.fixed-table-body thead th .th-inner,
.table td,
.table th {
    box-sizing: border-box
}

.table td,
.table th {
    vertical-align: middle
}

.fixed-table-toolbar .dropdown-menu {
    text-align: left;
    max-height: 300px;
    overflow: auto
}

.fixed-table-toolbar .btn-group>.btn-group {
    display: inline-block;
    margin-left: -1px!important
}

.fixed-table-toolbar .btn-group>.btn-group>.btn {
    border-radius: 0
}

.fixed-table-toolbar .btn-group>.btn-group:first-child>.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.fixed-table-toolbar .btn-group>.btn-group:last-child>.btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.bootstrap-table .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd
}

.bootstrap-table .table thead>tr>th {
    padding: 0;
    margin: 0
}

.bootstrap-table .fixed-table-footer tbody>tr>td {
    padding: 0!important
}

.bootstrap-table .fixed-table-footer .table {
    border-bottom: none;
    border-radius: 0;
    padding: 0!important
}

.bootstrap-table .pull-right .dropdown-menu {
    right: 0;
    left: auto
}

p.fixed-table-scroll-inner {
    width: 100%;
    height: 200px
}

div.fixed-table-scroll-outer {
    top: 0;
    left: 0;
    visibility: hidden;
    width: 200px;
    height: 150px;
    overflow: hidden
}

.fixed-table-pagination:after,
.fixed-table-toolbar:after {
    content: "";
    display: block;
    clear: both
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%!important;
    background: #fff
}

.bootstrap-table .btn-group:last-child .btn {
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
    margin-left: -2px
}